@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<div class="sidebar">
    @*LoggedIn user :  @UserManager.UpdateNormalizedUserNameAsync()!*@
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
