@using FunApp.Common.Models
@using FunApp.Services
@inject IDocumentService DocumentService
<h3 class="container-header text-center bg-4">Documents</h3>

@{
    if (SubjectAreaDocuments == null)
    {

    }
    else
    {
        <div class="container-fluid bg-5">
            <table class="table table-borderless" cellpadding="10">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var document in SubjectAreaDocuments)
                {
                    <tr>
                        <td><a href="@document.Value" target="popup">@document.Name</a></td>
                        <td>@document.Type</td>
                    </tr>
                }

                <tr></tr>
                </tbody>
            </table>
        </div>
    }
}

@code
{

    [Parameter]
    public int SubjectAreaId { get; set; }

    IEnumerable<Document> SubjectAreaDocuments { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SubjectAreaDocuments = await DocumentService.GetDocumentsBySubjectArea(SubjectAreaId);
          
    }

}