@page "/memberlist"
@inherits MemberListBase
@{
    if (Members == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <div class="container-fluid">
            <div class="card-deck">

                @foreach (var member in Members)
                {

                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <img class="card-img-top rounded" src="@member.imgUrl" alt="image">

                        <div class="card-header">Header</div>
                        <div class="card-body text-success">
                            <h5 class="card-title">@member.Name</h5>
                            <p class="card-text">@member.Designation</p>
                            <a href="/memberdetail/@member.Id" class="btn btn-primary">Show details</a>
                        </div>
                    </div>

                }
            </div>
            </div>
        

    }
}