@page "/"
@inherits MemberListBase
@{
    if (Members == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <div class="container-fluid">
            <div class="card-deck">

                @foreach (var member in Members)
                {

                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <img class="card-img-top rounded" src="https://www.theladders.com/wp-content/uploads/coder_190517-800x450.jpg" alt="image">

                        <div class="card-header">Header</div>
                        <div class="card-body text-success">
                            <h5 class="card-title">@member.Name</h5>
                            <p class="card-text">@member.Designation</p>
                            <a href="/memberdetail/@member.Id" class="btn btn-primary">Show details</a>
                        </div>
                    </div>

                }
            </div>
            <div>
                <iframe width="640" height="360" src="https://web.microsoftstream.com/embed/video/81ee3c54-61fe-42e3-9522-aa99f71d1f62?autoplay=false&amp;showinfo=true" allowfullscreen style="border:none;"></iframe>
            </div>></div>
        

    }
}