@page "/projectdetails/projectdocuments"
@inherits ProjectDetailsBase
<h3 class="container-fluid bg-4">Project Details</h3>

<div class="container-fluid bg-2">
    <table class="table" cellpadding="10">
        <tr>
            <th>Document Name</th>
            <th>Document Link</th>
        </tr>

        @{
            @foreach (var doc in _projectDetail.DocumentList.DocumentNameWithLink)
            {
                <tr>
                    <td>@doc.Key</td>
                    <td><a href="@doc.Value">link</a></td>
                </tr>
            }
        }
    </table>
    </div>

