@page "/projectdetails"
@inherits ProjectDetailsBase
@using FunApp.Pages.Tabs

<h4>Project Details </h4>
<br>
<TabControl>
    <ChildContent>
        <TabPage Text="Snowflake">
            <Snowflake />
        </TabPage>
        <TabPage Text="Rundeck">
            <Rundeck />
        </TabPage>
    </ChildContent>
</TabControl>