@page "/projectdetails"
@inherits ProjectDetailsBase
@using FunApp.Pages.Tabs

    @*<tr>
        <td>
            <a href="@($"projectdetails/projectvideos")" class="btn btn-primary table-btn align-content-center">
                Project Videos
            </a>
        </td>
        <td></td>
        <td>
            <a href="@($"projectdetails/projectdocuments")" class="btn btn-primary table-btn align-content-center">
                Project documents
            </a>
        </td>
    </tr>*@
<h3>Subject Areas in the project </h3> <br>
<TabControl>
    <ChildContent>
        <TabPage Text="Snowflake">
            <Snowflake />
        </TabPage>
        <TabPage Text="Rundeck">
            <Rundeck />
        </TabPage>
    </ChildContent>
</TabControl>