@page "/projectdetails"
@using FunApp.Pages.Tabs
@using FunApp.Common.Models
@using FunApp.Services
@inherits ProjectDetailsBase
@inject ISubjectAreaService SubjectAreaService

<h4 style="font-weight: bold;text-align: center">Project Details </h4>
<br>
@{
    if (SubjectAreas == null)
    {

    }
    else
    {
        <TabControl>
            <ChildContent>
                @{ @foreach (var subjectArea in SubjectAreas)
                   {
                       <TabPage Text="@subjectArea.Name.ToString()" IsParent="@true">
                           <ProjectDetailsTypes SubjectAreaId="@subjectArea.SubjectAreaId" />
                       </TabPage>
                   }
                }
            </ChildContent>
        </TabControl>
    }
}

@code
{



    IEnumerable<SubjectArea> SubjectAreas { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SubjectAreas = (await SubjectAreaService.GetSubjectAreas());
    }

}