@page "/projectdetails"
@inherits ProjectDetailsBase

    @*<tr>
        <td>
            <a href="@($"projectdetails/projectvideos")" class="btn btn-primary table-btn align-content-center">
                Project Videos
            </a>
        </td>
        <td></td>
        <td>
            <a href="@($"projectdetails/projectdocuments")" class="btn btn-primary table-btn align-content-center">
                Project documents
            </a>
        </td>
    </tr>*@
Tabs for different subject areas