@using FunApp.Pages.ProjectDetails.Child_Pages;
<h4>Rundeck</h4>
<div>

    <div>
        <Documents SubjectAreaId="2"></Documents>
    </div>
    <div>
        <Videos SubjectAreaId="2"></Videos>
    </div>
</div>

@code {

}