@using FunApp.Pages.ProjectDetails.Child_Pages;
<h4>Snowfalke</h4>
<div>

    <div>
        <Documents SubjectAreaId="1"></Documents>
    </div>
    <div>
        <Videos SubjectAreaId="1"></Videos>
    </div>
</div>

@code {

}