@using FunApp.Common.Models
@inherits RetrospectionEditBase

@if (Retrospection == null)
{
    <p>No record found</p>
}
else
{
    <EditForm Model="@Retrospection" OnValidSubmit="HandleValidSubmit">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Happiness Index</th>
                    <th>Things went well</th>
                    <th>Improvement points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>  <InputText class="form-control" @bind-Value="@Retrospection.HappinessIndex" /></td>
                    <td>  <InputTextArea class="form-control" @bind-Value="@Retrospection.Wentwell" /></td>
                    <td>  <InputTextArea  class="form-control" @bind-Value="@Retrospection.AreaOfImprovement" /></td>
                </tr>
            </tbody>
        </table>
    </EditForm>
}