@page "/appreciate"

<a href="https://csgi.starsperformance.com/dash/0" target="popup" class="btn btn-primary table-btn">CSG Star Performance</a>
<img src="https://cms-assets.themuse.com/media/lead/_1200x630_crop_center-center_82_none/26375.jpg?mtime=1568897732"/>