@page "/"
@using FunApp.Pages.MemberList

<AuthorizeView>
    <Authorized>
        <MemberList></MemberList>
    </Authorized>
    <NotAuthorized>
        <p> Welcome to the new way of collaboration ,Login to see your teams details</p>
    </NotAuthorized>
</AuthorizeView>
