@page "/"
@using FunApp.Pages.MemberList
<p> Welcome to the new way of collaboration ,Login to see your teams details</p>

<AuthorizeView>
    <Authorized>
        <MemberList></MemberList>
    </Authorized>
</AuthorizeView>
