@page "/"
@using FunApp.Pages.MemberList

<AuthorizeView>
    <Authorized>
        <MemberList></MemberList>
    </Authorized>
    <NotAuthorized>
        <p> Welcome to CSG-ProjEasy - Making project management easy . Login to know more</p>
    </NotAuthorized>
</AuthorizeView>
